                            .container {
                                background-color: $backgroundGray;
                                height: 100vh;
                            }
                            
                            .test-form {
                                margin-top: 10vh;
                                .col-xs-12 {
                                    padding: 0;
                                }
                                .form-group {
                                    color: $fontBlack;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    .form-control {
                                        border-radius: 0;
                                        border: none!important;
                                        box-shadow: none !important;
                                        display: inline;
                                        width: 50%;
                                        height: 40px;
                                    }
                                    label {
                                        text-align: right;
                                        width: 40%;
                                        padding-top: 10px;
                                        padding-right: 10px;
                                    }
                                    .radioLabel {
                                        width: 40%;
                                        text-align: right;
                                        max-width: 100%;
                                        margin-bottom: 5px;
                                        font-weight: 700;
                                        display: inline-block;
                                    }
                                    .radioHolder {
                                        position: relative;
                                        display: inline-block;
                                        width: 10%;
                                        left: 3px;
                                        input[type=radio] {
                                            position: absolute;
                                            visibility: hidden;
                                            width: 0;
                                        }
                                        input[type=radio]:checked ~ .check::before {
                                            background: $activeYellow;
                                        }
                                        label {
                                            position: relative;
                                            z-index: 9;
                                            text-align: right;
                                            left: 27%;
                                            top: -1px;
                                        }
                                        .check {
                                            display: block;
                                            cursor: pointer;
                                            position: absolute;
                                            border: 5px solid #ffffff;
                                            background: #ffffff;
                                            border-radius: 100%;
                                            height: 25px;
                                            width: 25px;
                                            top: 5px;
                                            left: 0%;
                                            z-index: 5;
                                            transition: border .25s linear;
                                        }
                                        .check::before {
                                            display: block;
                                            position: absolute;
                                            content: '';
                                            border-radius: 100%;
                                            height: 18px;
                                            width: 18px;
                                            top: -2px;
                                            left: -2px;
                                            transition: background 0.25s linear;
                                        }
                                    }
                                    .custom-checkbox {
                                        position: relative;
                                        display: inline-block;
                                        width: 10%;
                                        input {
                                            position: absolute;
                                            outline: none;
                                            left: 3px;
                                            top: 9px;
                                            padding: 0;
                                            width: 30px;
                                            height: 30px;
                                            border: none;
                                            margin: 0;
                                            opacity: 0;
                                            z-index: 1;
                                            margin: 0;
                                            cursor: pointer;
                                        }
                                        .option {
                                            position: relative;
                                            z-index: 9;
                                            text-align: right;
                                            left: 10%;
                                            top: -1px;
                                            max-width: 100%;
                                            margin-bottom: 5px;
                                            font-weight: 700;
                                        }
                                        .box {
                                            position: relative;
                                            display: inline-block;
                                            cursor: pointer;
                                            width: 30px;
                                            height: 30px;
                                            border: none;
                                            background-color: $white;
                                            border-radius: 0;
                                            top: 9px;
                                            left: 3px;
                                            .tick {
                                                position: absolute;
                                                left: 6px;
                                                top: 7px;
                                                width: 15px;
                                                height: 7px;
                                                border-bottom: 1px solid $activeYellow;
                                                border-left: 1px solid $activeYellow;
                                                transform: rotate(-45deg);
                                                display: none;
                                            }
                                        }
                                    }
                                    .custom-checkbox > input:checked + .box > .tick {
                                        display: block;
                                    }
                                }
                                .halfGap {
                                    width: 40%;
                                    display: inline-block;
                                }
                                .submit-btn {
                                    width: 50%;
                                    height: 40px;
                                    border-radius: 2px;
                                    text-transform: uppercase;
                                    font-weight: 700;
                                    font-size: 20px;
                                    padding-top: 5px;
                                    padding-bottom: 5px;
                                    background: $activeYellow;
                                    color: $white;
                                    outline: none;
                                    border: none;
                                    box-shadow: none;
                                }
                            }