@media screen and (min-width: 368px) {
    .container {
        padding: 0;
    }
    .custom-checkbox {
        width: 28%!important;
        ;
    }
    .radioHolder {
        width: 28%!important;
        ;
    }
}

@media screen and (device-width: 768px) {
    .container {
        padding: 0;
    }
    .custom-checkbox {
        width: 28%!important;
        ;
    }
    .radioHolder {
        width: 28%!important;
        ;
    }
}