<!doctype html>

<html ng-app="app" ng-controller="AppCtrl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>McMakler frontend test</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="js/vendor.js"></script>

</head>

<body>

    <div class="container" ng-controller="TestCtrl">
        <form class="test-form">
            <div class="form-group col-xs-12">
                <label for="inputText1">Street</label>
                <input type="text" class="form-control " id="inputText1" placeholder="Street" ng-model="street">
            </div>
            <div class="form-group col-xs-12">
                <label for="inputText2">House Number</label>
                <input type="text" class="form-control " id="inputText2" placeholder="House Number" ng-model="housenumber">
            </div>
            <div class="form-group col-xs-12">
                <label for="inputText3">Postal Code</label>
                <input type="text" class="form-control " id="inputText3" placeholder="Postal Code" ng-model="postalcode">
            </div>
            <div class="form-group col-xs-12">
                <label for="inputText4">City</label>
                <input type="text" class="form-control " id="inputText4" placeholder="City" ng-model="city">
            </div>
            <div class="form-group  col-xs-12">
                <div class="radioLabel">Andrede</div>
                <div class="radioHolder">
                    <input type="radio" class="form-control" id="radio1" name="radio" ng-model="radio" value="1">
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                    <label for="radio1" class="radioBox">Radio1</label>
                </div>
                <div class="radioHolder">
                    <input type="radio" id="radio2" class="form-control" name="radio1" ng-model="radio1" value="2">
                    <div class="check">
                        <div class="inside"></div>
                    </div>
                    <label for="radio2" class="radioBox">Radio1</label>
                </div>
            </div>
            <div class="form-group col-xs-12">
                <div class="radioLabel">Deine Hobys</div>
                <!--                <div class="checkHolder">-->
                <span class="custom-checkbox">
                    <input type="checkbox"/>
                    <span class="box">
                    <span class="tick"></span>
                </span>
                <span class="option">Check 2</span>
                </span>
                <!--                 </div>-->
                <span class="custom-checkbox">
                    <input type="checkbox" checked/>
                    <span class="box">
                        <span class="tick"></span>
                </span>
                <span class="option">Check 2</span>
                </span>
            </div>
            <p ng-if="result.success">The co-ordinates for this address are: {{result.location.lat}}, {{result.location.lng}}</p>
            <div class="form-group col-xs-12">
                <div class="halfGap">&nbsp;</div>
                <button type="button" ng-click="submit()" class="submit-btn">Submit</button>
            </div>
        </form>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/scripts.js"></script>

</body>

</html>